.servises-bg{
	position: absolute;
	height: 505px;
	width: 100%;
	top: 1014px;
	background-color: $gray_color;
}
.news-bg{
	position: absolute;
	height: 540px;
	width: 100%;
	top: 1519px;
	background-color: #f7f7f7;
}
.footer-bg{
	position: absolute;
	height: 330px;
	width: 100%;
	top: 2300px;
	background-color: $gray_color;
}
.footer2-bg{
	position: absolute;
	height: 60px;
	width: 100%;
	top: 2630px;
	background-color: $search_bg_color;
}